<!doctype html>
<html lang="en" ng-app="app">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <title>VECI Accordion - Company List</title>

</head>

<body class="bg-light">
    <div ng-controller="appController">


        <div class="container">
            <h2 class="mt-4 mb-4">VECI Report</h2>

            <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <span>Ejemplo de una empresa con un sólo grupo. </span>
                </div>
                <div class="carousel-item">
                  <span>La carga del arbol es completa, y se almacena en memoria</span>
                </div>
                <div class="carousel-item">
                  <span>Se implementa la posibilidad de deseleccionar cuentas y departamentos por separado</span>
                </div>
                <div class="carousel-item">
                  <span>'Seleccionar Todos' marca todos los checkboxes del árbol y traslada cada item al area de selección</span>
                </div>

              </div>
            </div> -->

            <div class="row bg-white">
                <div class="col-md-12">
                    <h5 class="mt-4"> Selección inicial </h5>
                    <hr class="mt-4">
                </div>
                <!-- Shows the accordion and the data, app.js call to appController function -->
                <div class="col-md-6">
                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" ng-model="searchText">
                        </div>
                        <div class="col-sm-6 text-right">

                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <label class="dropdown-item">
                                        <a ng-click="checkAll()">Seleccionar todo</a>
                                    </label>
                                    <label class="dropdown-item">
                                        <a ng-click="uncheckAll()">Deseleccionar todo</a>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="accordion mt-2 mywindow">
                        <div class="card">
                            <ul class="mt-3 pl-0">
                                <!-- List all data from the mock and take the content from the specifies name -->
                                <li ng-repeat="data in datosResource | filter: searchText" class="card-header">
                                    <div>
                                        <div class="btn btn-link" type="button" data-toggle="collapse" href="#group_name{{ $index }}" aria-expanded="false">
                                            <span ng-click="toggle=!toggle">
                                                    <i ng-show="toggle" class="fas fa-minus mr-2"></i>
                                                    <i ng-hide="toggle" class="fas fa-plus mr-2"></i>
                                                {{ data.group_name }}
                                                <small class="ml-2">( {{ data.business_group_code }} )</small>
                                            </span>
                                        </div>

                                        <input type="checkbox" id="{{data.group_name}}{{data.business_group_code}}" class="form-check-input" ng-model="selected"
                                        ng-checked="existeGroup(data)" ng-click="clickedGroup = !clickedGroup; addGroup(data, clickedGroup);"/>
                                        <br />

                                    </div>
                                    <div id="group_name{{$index}}" class="collapse">
                                        <div class="card-body">
                                            <div class="card">
                                                <h5 class="mb-0">
                                                    <ul>
                                                        <li ng-repeat="account in data.accounts | filter: searchText" class="card-header bg-white">
                                                            <div>
                                                                <div class="btn btn-link" type="button" data-toggle="collapse" data-target="#account{{$index}}" aria-expanded="false" aria-controls="collapseTwo">
                                                                    <span ng-click="toggle1=!toggle1">
                                                                            <i ng-show="toggle1" class="fas fa-minus mr-2"></i>
                                                                            <i ng-hide="toggle1" class="fas fa-plus mr-2"></i>
                                                                        {{ account.account_name }}
                                                                        <small class="ml-2">( {{ account.account_code }} )</small>
                                                                    </span>
                                                                </div>
                                                                <input type="checkbox" id="{{account.account_name}}{{account.account_code}}" name="{{data.group_name}}{{data.business_group_code}}" class="form-check-input" ng-model="selected"
                                                                ng-checked="exist(account) || clickedAccount" ng-click="clickedAccount = (!clickedAccount); selectAccount(account, clickedAccount);"/>
                                                            </div>
                                                            <div id="account{{ $index }}" class="collapse">
                                                                <div class="card-body">
                                                                    <div class="card">
                                                                        <h5 class="mb-0">
                                                                            <ul>
                                                                                <li ng-repeat="departament in account.departaments | filter: searchText" class="card-header bg-light">
                                                                                    <div>
                                                                                        <div class="btn btn-link" type="button" data-toggle="collapse" data-target="#department{{ $index }}" aria-expanded="false"
                                                                                            aria-controls="collapseTwo">
                                                                                            <span>
                                                                                                <i  class="fas fa-angle-right mr-2"></i>
                                                                                                {{ departament.departament_name }}
                                                                                                <small class="ml-2">( {{ departament.departament_code
                                                                                                }} )</small>
                                                                                            </span>
                                                                                        </div>
                                                                                        <input type="checkbox" id="{{departament.departament_name}}{{departament.departament_code}}" name="{{account.account_name}}{{account.account_code}}" class="form-check-input" ng-model="selected"
                                                                                       ng-checked="exist(department)" ng-click="addDepartament(departament); clickedDepartament= (!clickedDepartament)"  ng-disabled=" clickedAccount"/>
                                                                                    </div>
                                                                                    <div id="department{{ $index }}" class="collapse">
                                                                                        <div class="card-body">
                                                                                            <div class="card">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-2">
                    <p>Elementos seleccionados: </p>
                    <hr class="mb-0">
                    <div class="accordion mt-1 mywindow">
                        <div class="card mt-3">
                            <div class="mb-2">
                                <ul class="mt-1 pl-0 pr-3">
                                    <li ng-repeat="selectedData in selected | filter: searchText" class="card-header">
                                        <div>
                                            <div class="btn pl-3">

                                                <span ng-show="selectedData.business_group_code" class="fas fa-circle"></span>
                                                <span id="{{selectedData.business_group_code}}" class="ml-2" ng-show="selectedData.business_group_code">{{ selectedData.group_name }}
                                                  <small>{{ selectedData.business_group_code }} {{ selectedData.business_group_code.length }}</small>
                                                </span>

                                                <span ng-show="selectedData.account_code" class="fas fa-dot-circle"></span>
                                                <span id="{{selectedData.account_code}}" class="ml-2" ng-show="selectedData.account_code">{{ selectedData.account_name }}
                                                  <small>{{ selectedData.account_code }}</small>
                                                </span>

                                                <span ng-show="selectedData.departament_code" class="far fa-dot-circle"></span>
                                                <span id="{{selectedData.departament_code}}" class="ml-2" ng-show="selectedData.departament_code">{{ selectedData.departament_name }}
                                                  <small>{{ selectedData.departament_code }}</small>
                                                </span>
                                                </div>

                                                <!-- <button type="button" ng-show="selectedData.group_name" class="btn btn-outline-dark float-left" ng-click="delSelectedGroup(selectedData)">X</button>
                                                <button type="button" ng-show="selectedData.account_name" class="btn btn-outline-dark float-left" ng-click="delSelectedAccount(selectedData)">X</button>
                                                <button type="button" ng-show="selectedData.departament_name" class="btn btn-outline-secondary float-left" ng-click="delSelectedDept(selectedData)">X</button> -->
                                                <button type="button" ng-show="selectedData.group_name" class="btn btn-outline-dark float-right" ng-click="delSelectedGroup(selectedData)">X</button>
                                                <button type="button" ng-show="selectedData.account_name" class="btn btn-outline-dark float-right" ng-click="delSelectedAccount(selectedData)">X</button>
                                                <button type="button" ng-show="selectedData.departament_name" class="btn btn-outline-secondary float-right" ng-click="delSelectedDept(selectedData)">X</button>

                                            </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
            </br>
            <p> {{ selectedGroup }}</p>
            </br>
              <p> {{ selected }}</p>
            </div>

        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="./js/angular.js"></script>
    <script type="text/javascript" src="./js/angular_resource.js"></script>
    <script type="text/javascript" src="./js/app-cosentino.js"></script>

</body>

</html>
